In [1]:

import pandas as pd
pd.set_option('display.max_columns', 999)
import numpy as np

##Visualization Libraries
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

import os
import sys
import glob

In [2]:
decklist_dir = 'C:\\Users\\watson\\Documents\\GitHub\\SabberStone-master\\Sabber_Work_2019F\\thesis-decklists'
os.chdir(decklist_dir)

In [3]:
dfs = []
fnames = []
for fname in list(glob.glob('*.txt')):
    l = []
    fnames.append(fname)
    with open(fname) as f:
        lines = f.readlines()
        for line in lines:
            if '><' in line:
                line = line.strip('\n')
                temp = line.split('><')
                temp[1] = int(temp[1])
                l.append(temp)
    df = pd.DataFrame(l, columns=['Card', 'Quantity'])
    dfs.append(df)

In [4]:
translate = {
 'Mortal Coil': [1, 'Spell', 'Warlock'],
 'Shriek': [1, 'Spell', 'Warlock'],
 'Curse of Weakness': [2, 'Spell', 'Warlock'],
 'Plot Twist': [2, 'Spell', 'Warlock'],
 'Reckless Diretroll': [2, 'Minion', 'Warlock'],
 'Sense Demons': [3, 'Spell', 'Warlock'],
 'Hellfire': [4, 'Spell', 'Warlock'],
 'High Priestess Jeklik': [4, 'Minion', 'Warlock'],
 'Aranasi Broodmother': [6, 'Minion', 'Warlock'],
 'Soulwarden': [6, 'Minion', 'Warlock'],
 'Arch-Villain Rafaam': [7, 'Minion', 'Warlock'],
 'Lord Godfrey': [7, 'Minion', 'Warlock'],
 'Fel Lord Betrug': [8, 'Minion', 'Warlock'],
 'Doomsayer': [2, 'Minion', 'Neutral'],
 'Augmented Elekk': [3, 'Minion', 'Neutral'],
 'Rotten Applebaum': [5, 'Minion', 'Neutral'],
 'Zilliax': [5, 'Minion', 'Neutral'],
 'Mossy Horror': [6, 'Minion', 'Neutral'],
 'Hakkar, the Soulflayer': [10, 'Minion', 'Neutral'],
 'The Soularium': [1, 'Spell', 'Warlock'],
 'Shadow Bolt': [3, 'Spell', 'Warlock'],
 'Siphon Soul': [6, 'Spell', 'Warlock'],
 'Twisting Nether': [8, 'Spell', 'Warlock'],
 'Acidic Swamp Ooze': [2, 'Minion', 'Neutral'],
 'Voodoo Doll': [3, 'Minion', 'Neutral'],
 'Safeguard': [6, 'Minion', 'Neutral'],
 'Deranged Doctor': [8, 'Minion', 'Neutral'],
 'Shadowflame': [4, 'Spell', 'Warlock'],
 'Omega Agent': [5, 'Minion', 'Warlock'],
 'Lord Jaraxxus': [9, 'Minion', 'Warlock'],
 'Twilight Drake': [4, 'Minion', 'Neutral'],
 'Barista Lynchen': [5, 'Minion', 'Neutral'],
 'Big Game Hunter': [5, 'Minion', 'Neutral'],
 'Mountain Giant': [12, 'Minion', 'Neutral'],
 'Ancient Watcher': [2, 'Minion', 'Neutral'],
 'Sunfury Protector': [2, 'Minion', 'Neutral'],
 'Faceless Rager': [3, 'Minion', 'Neutral'],
 'Proud Defender': [4, 'Minion', 'Neutral'],
 'Spellbreaker': [4, 'Minion', 'Neutral'],
 'Earthen Ring Farseer': [3, 'Minion', 'Neutral'],
 'Defender of Argus': [4, 'Minion', 'Neutral'],
 'Flame Imp': [1, 'Minion', 'Warlock'],
 'Grim Rally': [1, 'Spell', 'Warlock'],
 'Soul Infusion': [1, 'Spell', 'Warlock'],
 'Soulfire': [1, 'Spell', 'Warlock'],
 'Voidwalker': [1, 'Minion', 'Warlock'],
 'Witchwood Imp': [1, 'Minion', 'Warlock'],
 'Fiendish Circle': [4, 'Spell', 'Warlock'],
 'Doubling Imp': [3, 'Minion', 'Warlock'],
 'Abusive Sergeant': [1, 'Minion', 'Neutral'],
 'Argent Squire': [1, 'Minion', 'Neutral'],
 'Mecharoo': [1, 'Minion', 'Neutral'],
 'Saronite Taskmaster': [1, 'Minion', 'Neutral'],
 'Dire Wolf Alpha': [2, 'Minion', 'Neutral'],
 'Knife Juggler': [2, 'Minion', 'Neutral'],
 'Scarab Egg': [2, 'Minion', 'Neutral'],
 'Crystallizer': [1, 'Minion', 'Neutral'],
 'Magic Carpet': [3, 'Minion', 'Neutral'],
 'Microtech Controller': [3, 'Minion', 'Neutral'],
 'Sea Giant': [10, 'Minion', 'Neutral'],
 'SN1P-SN4P': [3, 'Minion', 'Neutral'],
 'Leeroy Jenkins': [5, 'Minion', 'Neutral'],
 'Explodinator': [4, 'Minion', 'Neutral'],
 'Wargear': [5, 'Minion', 'Neutral']}

In [5]:
for df in dfs:
    for card in df['Card'].values:
        if card not in translate:
            translate[card] = []

In [6]:
len(translate)

64

In [7]:
print(fnames[0])
dfs[0]

controlock_01.txt

                      Card  Quantity
0              Mortal Coil         2
1                   Shriek         2
2        Curse of Weakness         2
3               Plot Twist         2
4       Reckless Diretroll         2
5             Sense Demons         2
6                 Hellfire         2
7    High Priestess Jeklik         1
8      Aranasi Broodmother         2
9               Soulwarden         2
10     Arch-Villain Rafaam         1
11            Lord Godfrey         1
12         Fel Lord Betrug         1
13               Doomsayer         2
14         Augmented Elekk         1
15        Rotten Applebaum         2
16                 Zilliax         1
17            Mossy Horror         1
18  Hakkar, the Soulflayer         1

In [8]:
def get_mana_cost(card):
    return translate[card][0]
def get_card_type(card):
    return translate[card][1]
def get_card_class(card):
    return translate[card][2]

In [9]:
for df in dfs:
    for card in df['Card'].values:
        df['Mana-Cost'] = df['Card'].apply(get_mana_cost)
        df['Card-Type'] = df['Card'].apply(get_card_type)
        df['Card-Class'] = df['Card'].apply(get_card_class)

In [10]:
for idx in range(len(dfs)):
    df = dfs[idx]
    try:
        print(df.groupby('Mana-Cost')['Quantity'].sum().sum())
    except:
        print(idx)
        break

30
30
30
30
30
30
30
30
30
30

In [31]:
print(fnames[0])os.getcwd()

'C:\\Users\\watson\\Documents\\GitHub\\SabberStone-master\\Sabber_Work_2019F\\thesis-decklists'

In [14]:
dfs[5]

Empty DataFrame
Columns: [Card, Quantity]
Index: []

In [65]:
for idx in range(len(dfs)):
    curfname = ''
    temp = dfs[idx].sort_values(by='Mana-Cost')
    if 'control' in fnames[idx]:
        curfname = fnames[idx].replace('control', 'TEXcontrol')
    elif 'zoo' in fnames[idx]:
        curfname = fnames[idx].replace('zoo', 'TEXzoo')
    else:
        print('something is wrong')
        break
    with open(curfname, 'w') as f:
        for row in temp.values:
            f.write('\\rule{0pt}{1pt}& & & & \\\\\n')
            f.write('\\strut {} &\n'.format(row[0]))
            for j in range(1, len(row)-1):
                f.write('\t\\PBS\\raggedright{{{}}} &\n'.format(row[j]))
            f.write('\t\\PBS\\raggedright{{{}}} \\\\\n'.format(row[len(row)-1]))
            f.write('\\rule{0pt}{1pt}& & & & \\\\ \hline\n')

In [28]:
print(fnames[0])
for mini in dfs[0].values:
    row = [str(i) for i in list(mini)]
    print('\\rule{{0pt}}{{1pt}}& & & & \\\\')
    print('\\strut {} &'.format(row[0]))
    print('\\rule{{0pt}}{{1pt}}& & & & \\\\ \\hline')

controlock_01.txt
\rule{{0pt}}{{1pt}}& & & & \\
\strut Mortal Coil &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Shriek &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Curse of Weakness &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Plot Twist &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Reckless Diretroll &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Sense Demons &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Hellfire &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut High Priestess Jeklik &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Aranasi Broodmother &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Soulwarden &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Arch-Villain Rafaam &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Lord Godfrey &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Fel Lord Betrug &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Doomsayer &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Augmented Elekk &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Rotten Applebaum &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Zilliax &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Mossy Horror &

\rule{{0pt}}{{1pt}}& & & & \\ \hline
\rule{{0pt}}{{1pt}}& & & & \\
\strut Hakkar, the Soulflayer &

\rule{{0pt}}{{1pt}}& & & & \\ \hline

In [27]:
output_dir = os.path.join(os.getcwd(), 'mana-curves')
output_dir

'C:\\Users\\watson\\Documents\\GitHub\\SabberStone-master\\Sabber_Work_2019F\\thesis-decklists\\mana-curves'

In [28]:
os.mkdir(output_dir)

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'C:\\Users\\watson\\Documents\\GitHub\\SabberStone-master\\Sabber_Work_2019F\\thesis-decklists\\mana-curves'

In [29]:
decks_out_dir = os.path.join(os.getcwd(), 'deck-details')
try:
    os.mkdir(decks_out_dir)
except:
    pass

In [30]:
for i in range(len(dfs)):
    temp = pd.DataFrame(dfs[i].groupby('Mana-Cost')['Quantity'].sum()).reset_index()
    mana_costs = list(range(1, 13))
    for j in mana_costs:
        if j not in temp['Mana-Cost'].values:
            temp.loc[j, 'Mana-Cost'] = j
            temp.loc[j, 'Quantity'] = 0
    temp.sort_values(by='Mana-Cost', inplace=True)
    temp.reset_index(inplace=True, drop=True)
    dfs[i].to_csv(os.path.join(decks_out_dir, fnames[i].replace('.txt', '.csv')))
    plt_name = fnames[i].replace('.txt', '.pdf')
    plt_save = os.path.join(output_dir, plt_name)
    try:
        label_locations = np.arange(len(mana_costs))
        plt.bar(label_locations, temp['Quantity'])
        plt.title('Mana Curve for {}'.format(fnames[i].replace('.txt', '')))
        plt.xlabel('Mana Cost')
        plt.ylabel('Num Cards')
        plt.xticks(label_locations, labels=mana_costs)
        plt.savefig(plt_save, format='pdf')
        plt.clf()
        #plt.show()
    except:
        print(plt_name, i)

In [113]:
temp = (dfs[0].groupby('Mana-Cost')['Quantity'].sum()).reset_index()

    Mana-Cost  Quantity
0         1.0       4.0
1         2.0       8.0
2         3.0       3.0
3         4.0       3.0
4         5.0       3.0
5         6.0       5.0
6         7.0       2.0
7         8.0       1.0
9         9.0       0.0
8        10.0       1.0
11       11.0       0.0
12       12.0       0.0

In [120]:
fnames[2]

'controlock_03.txt'

In [123]:
temp = (dfs[2].groupby('Mana-Cost')['Quantity'].sum()).reset_index()
temp

   Mana-Cost  Quantity
0          1         2
1          2         4
2          3         3
3          4         5
4          5         4
5          6         6
6          7         1
7          8         2
8          9         1
9         12         2

In [124]:
for j in list(range(1, 13)):
    if j not in temp['Mana-Cost'].values:
        temp.loc[j, 'Mana-Cost'] = j
        temp.loc[j, 'Quantity'] = 0
temp.sort_values(by='Mana-Cost')

    Mana-Cost  Quantity
0         1.0       2.0
1         2.0       4.0
2         3.0       3.0
3         4.0       5.0
4         5.0       4.0
5         6.0       6.0
6         7.0       1.0
7         8.0       2.0
8         9.0       1.0
10       10.0       0.0
11       11.0       0.0
9        12.0       2.0

In [125]:
label_locations

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [35]:
def compare_common_cards(deck1, deck2):
    commonCards = 0
    for card in deck1['Card'].values:
        if card in deck2['Card'].values:
            #Both decks have at least one copy
            count1 = deck1.loc[(deck1['Card'] == card)]['Quantity'].iloc[0]
            count2 = deck2.loc[(deck2['Card'] == card)]['Quantity'].iloc[0]
            if count1 == count2:
                commonCards += count1
            elif count1 < count2:
                commonCards += count1
            elif count1 > count2:
                commonCards += count2
    return commonCards

In [14]:
len(dfs)

10

In [30]:
edit_distances = pd.DataFrame(data = [[0 for a in range(10)] for i in range(10)], index=fnames, columns=fnames, dtype=np.int32)
edit_distances

,controlock_01.txt,controlock_02.txt,controlock_03.txt,controlock_04.txt,controlock_05.txt,zoolock_01.txt,zoolock_02.txt,zoolock_03.txt,zoolock_04.txt,zoolock_05.txt
controlock_01.txt,0,0,0,0,0,0,0,0,0,0
controlock_02.txt,0,0,0,0,0,0,0,0,0,0
controlock_03.txt,0,0,0,0,0,0,0,0,0,0
controlock_04.txt,0,0,0,0,0,0,0,0,0,0
controlock_05.txt,0,0,0,0,0,0,0,0,0,0
zoolock_01.txt,0,0,0,0,0,0,0,0,0,0
zoolock_02.txt,0,0,0,0,0,0,0,0,0,0
zoolock_03.txt,0,0,0,0,0,0,0,0,0,0
zoolock_04.txt,0,0,0,0,0,0,0,0,0,0
zoolock_05.txt,0,0,0,0,0,0,0,0,0,0

In [36]:
for i in range(len(fnames)):
    d1name = fnames[i]
    for j in range(len(fnames)):
        d2name = fnames[j]
        edit_distances.loc[d1name, d2name] = compare_common_cards(dfs[i], dfs[j])

In [39]:
edsdf = edit_distances.iloc[:, :5]
edsdf

,controlock_01.txt,controlock_02.txt,controlock_03.txt,controlock_04.txt,controlock_05.txt
controlock_01.txt,30,18,12,10,11
controlock_02.txt,18,30,14,14,13
controlock_03.txt,12,14,30,15,16
controlock_04.txt,10,14,15,30,17
controlock_05.txt,11,13,16,17,30
zoolock_01.txt,0,0,0,0,0
zoolock_02.txt,0,1,0,0,1
zoolock_03.txt,0,1,0,0,0
zoolock_04.txt,0,1,0,0,0
zoolock_05.txt,1,2,3,0,3

In [41]:
edit_distances.to_csv('C:\\Users\\watson\\Documents\\GitHub\\SabberStone-master\\Sabber_Work_2019F\\thesis-decklists\\common_cards.csv')

In [43]:
new_names = ['C{}'.format(i) for i in range(1,6)] + ['A{}'.format(i) for i in range(1,6)]
new_names

['C1', 'C2', 'C3', 'C4', 'C5', 'A1', 'A2', 'A3', 'A4', 'A5']

In [44]:
edit_distances.index = new_names
edit_distances.columns = new_names
edit_distances

    C1  C2  C3  C4  C5  A1  A2  A3  A4  A5
C1  30  18  12  10  11   0   0   0   0   1
C2  18  30  14  14  13   0   1   1   1   2
C3  12  14  30  15  16   0   0   0   0   3
C4  10  14  15  30  17   0   0   0   0   0
C5  11  13  16  17  30   0   1   0   0   3
A1   0   0   0   0   0  30  20  22  22  18
A2   0   1   0   0   1  20  30  27  26  21
A3   0   1   0   0   0  22  27  30  28  22
A4   0   1   0   0   0  22  26  28  30  21
A5   1   2   3   0   3  18  21  22  21  30